# Check Posgres connection

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')
print('SQLAlchemy version', sqlalchemy.__version__)
print('Pandas version', pd.__version__)

SQLAlchemy version 2.0.37
Pandas version 1.5.3

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
connection = engine.connect()

In [18]:
# Test connection
query = text("""
SELECT 1 as number;
""")
pd.read_sql_query(sql=query, con=connection)
# not tables because we haven't created any tables

   number
0       1

In [3]:
query_find_all_schema = text("""
select * from information_schema.tables
where table_schema not in ('pg_catalog', 'information_schema')
""")

# query_find_all_tables = """
# select * from pg_catalog.pg_tables
# where schemaname not in ('pg_catalog', 'information_schema')
# """
pd.read_sql_query(sql=query_find_all_schema, con=connection)

Empty DataFrame
Columns: [table_catalog, table_schema, table_name, table_type, self_referencing_column_name, reference_generation, user_defined_type_catalog, user_defined_type_schema, user_defined_type_name, is_insertable_into, is_typed, commit_action]
Index: []

In [23]:
query = text("""
select count(1) from green_taxi_data;
""")

# query_find_all_tables = """
# select * from pg_catalog.pg_tables
# where schemaname not in ('pg_catalog', 'information_schema')
# """
pd.read_sql_query(sql=query, con=connection)

   count
0      0